<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>principal </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    
    <script src="node_modules/lax.js/lib/lax.min.js"></script>
    <link rel="stylesheet" href="./public/CSS/main.css" />
    <script>
      const userKey = "38a848f0eb613aa2c80ddf98f614b96a"
      </script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    
</head>

<body>
    <div class="logo-avangers">
        <img src="./public/img/marvel-logo.png" class="img-Logo" height="100" alt=""/>
    </div>
    <br>
    <div class="header">
        <img src="./public/img/ultron.png" alt="" width="33%" class="ultron" />
        <img src="./public/img/loki.png" alt="" width="33%" class="loki" />
        <img src="./public/img/thanos.png" alt="" width="33%" class="thanos" />
    </div>
    <div class="scroll-tip">Hola David¡ :)</div>

    <div class="ironman-title">
        <span class="ironman-title-01">
        <img src="./public/img/Iron-Man-Logo-i.png" height="300" alt="" />
      </span>
        <span class="ironman-title-02">
        <img src="./public/img/Iron-Man-Logo-r.png" height="300" alt="" />
      </span>
        <span class="ironman-title-03">
        <img src="./public/img/Iron-Man-Logo-o.png" height="300" alt="" />
      </span>
        <span class="ironman-title-04">
        <img src="./public/img/Iron-Man-Logo-n.png" height="300" alt="" />
      </span>
        <span class="ironman-title-05">&nbsp;</span>
        <span class="ironman-title-06">
        <img src="./public/img/Iron-Man-Logo-m.png" height="300" alt="" />
      </span>
        <span class="ironman-title-07">
        <img src="./public/img/Iron-Man-Logo-a.png" height="300" alt="" />
      </span>
        <span class="ironman-title-08">
        <img src="./public/img/Iron-Man-Logo-n.png" height="300" alt="" />
      </span>
    </div>

    <div class="ironman-01">
        <img src="./public/img/ironman-01.png" alt="" />
    </div>
    <div class="ironman-02">
        <img src="./public/img/ironman-02.png" alt="" />
    </div>
    <div class=" shield ">
        <img src="./public/img/captainamerica-01.png " width="400 " alt="" />
    </div>

    <div class="capitan-title ">
        <span class="capitan-title-01 ">
         <img src="./public/img/captain-america-logo-c.png " alt="" />
      </span>
        <span class="capitan-title-02 ">
        <img src="./public/img/captain-america-logo-a.png " alt="" />
      </span>
        <span class="capitan-title-03 ">
        <img src="./public/img/captain-america-logo-p.png " alt="" />
      </span>
        <span class="capitan-title-04 ">
        <img src="./public/img/captain-america-logo-t.png " alt="" />
      </span>
        <span class="capitan-title-05 ">
        <img src="./public/img/captain-america-logo-a.png " alt="" />
      </span>
        <span class="capitan-title-06 ">
        <img src="./public/img/captain-america-logo-i.png " alt="" />
      </span>
        <span class="capitan-title-07 ">
        <img src="./public/img/captain-america-logo-n.png " alt="" />
      </span>
        <div></div>
        <span class="capitan-title-08 ">
        <img src="./public/img/captain-america-logo-a.png " alt="" />
      </span>
        <span class="capitan-title-09 ">
        <img src="./public/img/captain-america-logo-m.png " alt="" />
      </span>
        <span class="capitan-title-10 ">
        <img src="./public/img/captain-america-logo-e.png " alt="" />
      </span>
        <span class="capitan-title-11 "><img src="./public/img/captain-america-logo-r.png " alt=""
      /></span>
        <span class="capitan-title-12 "><img src="./public/img/captain-america-logo-i.png " alt=""
      /></span>
        <span class="capitan-title-13 "><img src="./public/img/captain-america-logo-c.png " alt=""
      /></span>
        <span class="capitan-title-14 "><img src="./public/img/captain-america-logo-a.png " alt=""
      /></span>
    </div>

    <div class="capi ">
        <img src="./public/img/capitanamerica02.png " alt="" width="600 " />
    </div>

    <div class="shield02 ">
        <img src="./public/img/shield-02.png " alt="" width="200 " />
    </div>

    <div class="rayo-container ">
        <div class="rayo ">
          <span class="thor-title">
            <img src=".\public\img\thor_logo.png" alt="Tror lo " width=" " />
          </span>
        </div>
    </div>

    <div class="thor-title ">
  
        <span class="thor-title-01 ">
        <img src=".\public\img\thor_logo-t.png"" alt="Tror logo " width="300 " />
      </span>
        <span class="thor-title-02 ">
        <img src="./public/img/thor_logo-h.png " alt="" width="280 " />
      </span>
        <span class="thor-title-03 ">
        <img src="./public/img/thor_logo-o.png " alt="" width="300 " />
      </span>
        <span class="thor-title-04 ">
        <img src="./public/img/thor_logo-r.png " alt="" width="300 " />
      </span>
    </div>

    <div class="thor ">
        <img src="./public/img/thor-01.webp " alt="" />
    </div>

    <div class="thor02 ">
        <img src="./public/img/thor-02.webp " alt="" width="500 " />
    </div>

    <div class="avengers-logo ">
        <div class="logo-shadow "></div>
        <img src="./public/img/avengers-logo.png " alt="" />
    </div>
  <div class="slider-avanger">
    <div id="app">
      <transition name="carousel-fade" mode="out-in">
        <div class="load-screen" v-if="loading" key="1">
          <p>Loading MCU Timeline</p>
        </div>
        <div class="load-screen" v-else-if="!loading &amp;&amp; error" key="2">
          <p>Timeline could not assemble</p>
        </div>
        <main class="main-screen" v-else="v-else" key="3" :class="{ 'show-modal' : showModal }">
          <carousel v-if="movies.length" :class="scrollDirection" :options="carouselOptions" :movies="movies" :current="current" @scroll-direction="handleScrollDirection" @set-current="handleCurrentSlide" @trigger-modal="handleModal"></carousel>
          <transition name="modal">
            <modal v-if="showModal" :id="movies[current].id" @trigger-modal="handleModal"></modal>
          </transition>
        </main>
      </transition>
    </div>
    <!-- Component templates-->
    <template id="tpl__carousel">
      <div class="carousel">
        <div class="image__viewport">
          <transition name="fade" mode="out-in">
            <carousel-image class="carousel__image" v-if="index === current" v-for="movie, index in movies" :backdrop="movie.backdrop_path" size="1280" :key="movie.id"></carousel-image>
          </transition>
        </div>
        <embla ref="embla" :options="options">
          <carousel-item v-for="movie in movies" :title="movie.title" :key="movie.id" v-on="$listeners"></carousel-item>
        </embla>
        <transition name="fade">
          <button class="btn btn--prev" v-if="canScrollPrev()" @click="scrollPrev">
            <svg class="icon--control" viewBox="0 0 24 24">
              <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
          </button>
        </transition>
        <transition name="fade">
          <button class="btn btn--next" v-if="canScrollNext()" @click="scrollNext">
            <svg class="icon--control" viewBox="0 0 24 24">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>
          </button>
        </transition>
        <div class="timeline">
          <div class="dot" v-for="movie, index in movies" :class="{ current : index === current }" @click="scrollTo(index)">
            <div class="dot__image-wrapper">
              <carousel-image :backdrop="movie.poster_path" size="154" :key="movie.id"></carousel-image>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template id="tpl__embla">
      <div class="carousel__viewport">
        <div class="carousel__container">
          <slot></slot>
        </div>
      </div>
    </template>
    <template id="tpl__carousel-item">
      <li class="carousel__slide">
        <h2 class="slide__title">{{ title }}</h2>
        <button class="btn btn--cta" @click="handleModal">
          <svg class="icon--play" viewBox="0 0 24 24">
            <path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z"></path>
          </svg><span>Watch trailer</span>
        </button>
      </li>
    </template>
    <template id="tpl__carousel-image"><img :src="src"/></template>
    <template id="tpl__modal">
      <div class="modal">
        <div class="modal__overlay" @click="handleModal"></div>
        <div class="modal__wrapper">
          <iframe v-if="src" :src="src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          <button class="btn btn--close" title="Close trailer window" @click="handleModal">
            <svg class="icon--close" viewBox="0 0 24 24">
              <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
            </svg>
          </button>
        </div>
      </div>
    </template>
  </div>
  <div class="cards-avangers">
   
    <div class="first hero">
      <img src="./public/images/image3.jpg" alt="" class="image">
      <div class="text"></div>
      <div class="logo-cards">
        <img src="./public/images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
  
    
    <div class="second hero">
      <img src="./public/images/image2.png" alt="" class="image">
      <div class="text"></div>
      <div class="logo">
        <img src="./public/images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
  
    <div class="first hero">
      <img src="./public/images/image1.jpg" alt="" class="image">
      <div class="text"></div>
      <div class="logo">
        <img src="./public/images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
  
    <div class="first hero">
      <img src="./public/img-avangers/iron-man-hd.jpg" alt="" class="image">
      <div class="text"></div>
      <div class="logo">
        <img src="./public/images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
  
    <div class="second hero">
      <img src="./public/img-avangers/CP_Ame.jpg" alt="" class="image">
      <div class="text"></div>
      <div class="logo">
        <img src="./public/images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
  
    <div class="first hero">
      <img src="./public/img-avangers/Hulk.jpg" alt="" class="image">
      <div class="text"></div>
      <div class="logo">
        <img src="images/logo.jpg" alt="">
      </div>
      <div class="main-text">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="date">
        <p>30.11.2022</p>
      </div>
      <div class="hero-btn">
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="container">
      <div class="row" id="marvel-row">
      </div>
    </div>
  </div> 

  <footer>
    <footer class="footer-section">
      <div class="col-xl-4 col-md-4 mb-30">
  
      <div class="container">
          <div class="footer-cta pt-5 pb-5">
              
          </div>
      
      </div>
      <div class="copyright-area">
          <div class="container">
            <div class="  footer-social">
              <div class="links text-center text-lg-center" >
                <div class="wrapper">
                  <a href="#" class="icon-container facebook">
                    <i class="icon fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="icon-container twitter">
                    <i class="icon fab fa-twitter"></i>
                  </a>
                  <a href="#" class="icon-container youtube">
                    <i class="icon fab fa-youtube"></i>
                  </a>
                  <a href="#" class="icon-container github">
                    <i class="icon fab fa-github"></i>
                  </a>
                  <a href="#" class="icon-container linkedin">
                    <i class="icon fab fa-linkedin-in"></i>
                  </a>
                </div>
              </div>
          </div><br></div>
              <div class="row">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2018, All Right Reserved 
                          </p>
                      </div>
                  </div>
               
                  </div>
              </div>
          </div>
      </div>
  </footer>  </footer>
 </div>
   <!-- partial
     <div class="container">
    <div class="row" id="marvel-row">
    </div>
  </div>
  -->
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src='https://unpkg.com/embla-carousel@2.9.1/lib/index.js'></script>
    <script  src="./public/JSS/script.js"></script>
    <script src="./public/JSS/main.js "></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./public/JSS/app.js"></script>
</body>

</html>